@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Code:wght@300..700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jaro:opsz@6..72&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --grisClaro: #E0E1DD;
  --grisOscuro: #D9D9D9;
  --blanco: #fff;
  --negro: #000;
  --azulOscuro: #0D1B2A;
  --azulOsucuroClaro: #1B263B;
  --azulClaro: #778DA9;
  --font-family:"Roboto", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* -------------------------------- HEADER ------------------------------------- */
.iconInstagram{
  font-size: 19px;
  margin: 0px 8px;
  translate: 0px 5px;
}
.person:hover{
  background-color: #1B263B;
  border-radius: 100%;
  color: #E0E1DD;
}
.header{
  padding: .25rem;
  background-color: var(--grisOscuro);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linkInicio{
  font-size: 18px;
  margin-right: 20px;
}
.textHeader{
  margin-left: 20px;
  font-size: 15px;
}
/* --------------------------------- NAV BAR ---------------------------------- */
.navBar{
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  width: 100%;
}
.navBar a{
  margin: 1rem 1.5rem;
  font-size: 18px;
}
.nav{
  position: relative;
}
.nav::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;background-color: var(--grisOscuro);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.nav:hover::after{
  transform: scaleX(1);
}
.agendarCita{
  background-color: var(--grisOscuro);
  padding: .75rem 1rem ;
  border-radius: 40px;
}
.agendarCita:hover{
  box-shadow:  0px 0px 50px -2px rgba(217,217,217,1);
  background-color: #cacaca;
}
.nav{
  color: var(--grisClaro);
}
/* ---------------------------- LOGIN & REGISTER ----------------------------- */
.titulos{
  text-align: center;
  font-size: 32px;
  margin-top: 7rem;
  text-transform: uppercase;
}
.titulos hr{
  width:20%; 
  margin-left:40% !important; 
  margin-right:40% !important;
  margin: 1rem 0rem;
  height: 1.5px;
  background-color: #1B263B;
  border: none;
}
.container-login-register{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 4rem 2rem ;
}
.login-container, .register-container{
  padding: 0rem 4rem;
}
.login-titulo, .register-titulo{
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}
.login-email, .login-password{
  display: flex;
  flex-direction: column;
}
.login-form, .register-form{
  margin-top: 2rem;
}
.input{
  width: 100%;
  border: 3px solid var(--azulOscuro);
  padding: .75rem;
  margin: 10px 0px;
  font-size: 16px;
}
.iniciarSesion, .register-button{
  text-align: center;
  background-color: none;
  border: none;
  text-decoration: none;
  margin: 1rem 0px;
}
.iniciarSesion button, .register-button button{
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--azulOscuro);
  border-radius: 12px;
  border: 3px solid var(--azulOscuro);
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.iniciarSesion button:hover{
  background-color: #0D1B2A;
  box-shadow: 0px 0px 39px -11px rgba(13,27,42,1);
  color: #D9D9D9;
}
.register-button button:hover{
  background-color: #0D1B2A;
  box-shadow: 0px 0px 39px -11px rgba(13,27,42,1);
  color: #D9D9D9;
}
.forgot-password{
  margin:0.5rem 0rem;
  color: var(--azulOsucuroClaro);
}
.textPriva{
  margin-top: 2rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
}
/* .recuerdame{
  display: flex;
  position: relative;
}
label{
  display: block;
  position: relative;
  top: 4px;
  width: 12px;
  height: 12px;
  transition: .1s ease;
  background-color: var(--grisOscuro);
  border-radius: 3px;
  cursor: pointer;
  margin-left: 3px;
}
.input-style{
  display: none;
} */
/* ---------------------------------- FOOTER ----------------------------------- */
.footer{
  background-color: var(--grisOscuro);
  padding: 3rem;
  bottom: 0;
  width: 100%;

}

/* ----------------------------- FORGOT PASSWORD ------------------------------ */
.forgot-container{
  margin: 4rem 8rem;
  flex-grow: 1;
}
.forgot-submit{
  text-align: center;
  margin-top: 1rem;
}
.forgot-submit button{
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--azulOscuro);
  border-radius: 12px;
  border: 3px solid var(--azulOscuro);
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.forgot-submit button:hover{
  background-color: #0D1B2A;
  box-shadow: 0px 0px 39px -11px rgba(13,27,42,1);
  color: #D9D9D9;
}
.forgot-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.forgot-span{
  margin: 1rem 0rem 0rem 0rem;
}

/* -------------------------------- CONTACTO -------------------------------- */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  font-family: Arial, sans-serif;
  flex-grow:unset;
}

.contact-info {
  flex: 1;
  font-size: 1rem;
}

.contact-info p {
  margin: 0.5rem 0;
}

.contact-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact-form input, .contact-form textarea {
  padding: .75rem;
  border: 3px solid var(--azulOscuro);
  font-size: 16px;
}

.contact-form button {
  background-color: transparent;
  color: var(--azulOscuro);
  border: 3px solid var(--azulOscuro);
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form button:hover {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  box-shadow: 0px 0px 39px -11px rgba(13,27,42,1);
}
/* ----------------------------------- HOME --------------------------------------- */
.imgs-fondo-home{
  display: flex;
}
.imgs-fondo-home img{
  width: 33.33%;
  height: 100vh;
}
.servicios-bg{
  background-color: #0D1B2A;
}
.titulo-servicios{
  text-align: center;
  padding: 4rem 0rem;
  font-size: 38px;
  color: #D9D9D9;
}
.titulo-servicios hr{
  width:20%; 
  margin-left:40% !important; 
  margin-right:40% !important;
  margin: 1rem 0rem;
  height: 1.5px;
  background-color: #D9D9D9;
  border: none;
}