:root{
  --grisClaro: #E0E1DD;
  --grisOscuro: #D9D9D9;
  --blanco: #fff;
  --negro: #000;
  --azulOscuro: #0D1B2A;
  --azulOsucuroClaro: #1B263B;
  --azulClaro: #778DA9;

}
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--azulOsucuroClaro);
}
a{
  color: #000;
  text-decoration: none;
}